

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#bloc-page{
    width: 100%;
    height: 100%;
   
}

.header-container{
    padding-top: 3em;
}


.page_logo{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.page_logo i{
    font-size: 50px;
    margin-left: 1em;
    color: black;
}


.page_logo img{
    width: 44%;
    margin-left: 4em;
    font-family: 'Shrikhand';
    font-size: 3em;
}

.img-restaurant-1{
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: -100px;
    z-index: -1;
}

.meal-container{
    border: 1px solid transparent;
    border-top-left-radius: 69px;
    border-top-right-radius: 69px;
    padding-top: 2em;
    background-color: whitesmoke;
    width: 100%;
   
}

.title-meal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7em;
}

.title-meal-container h2{
    font-size: 4em;
    font-family: 'Shrikhand';
    margin-left: 0.5em;
    width: 86%;
}

.meal-container h3{
    font-size: 40px;
    margin-left: 1em;
    border-bottom: 7px solid #99E2D0;
    margin-bottom: 2em;
    width: 10%;
    padding-bottom: 0.5em;
    margin-top: 2.5em;
}

.title-meal-container i{
    font-size: 4em;
    width: 16%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.dish-choice{
    border: 1px solid transparent;
    width: 93%;
    height: 11em;
    margin-left: 2em;
    border-radius: 30px;
    padding-left: 0.5em;
    margin-bottom: 3em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s;
    opacity: 1;
    transform: translateY(0);
}

@keyframes apparationcartes{
    0%{

    }
    
}

.dish-choice h4{
    font-size: 41px;
    font-weight: bold;
    margin-bottom: -0.5em;
    padding-left: 10px;
}

.dish-choice p{
    width: 100%;
    font-size: 2em;
    padding-left: 10px;
}

.dish-choice strong{
    position: absolute;
    left: 26.5em;
}


.fa-check-circle:before {
    content: "\f058";
    font-size: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid;
    width: 16%;
    height: 7%;
    position: absolute;
    top: 12.5em;
    left: 12.5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #99E2D0;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-top: 0.8em;
}


.dessert-meal strong{
    position: absolute;
    right: 2.5em;
}

.order{
    display: flex;
    justify-content: center;
    width: 100%;
}



.order p{
    font-size: 43px;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 70px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    width: 58%;
    display: flex;
    justify-content: center;
    height: 90px;
    align-items: center;
    margin-top: 2em;
}


.bloc-information-ohmyfood{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 35em;
    justify-content: flex;
    display: flex;
    flex-direction: column;
}

.bloc-information-ohmyfood h2{
    font-size: 3em;
    margin-left: 1em;
    font-family: 'SHRIKHAND';
}  

.icon-left-propose{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3em;
}

.icon-left-propose p{
    width: 100%;
    font-size: 38px;
}

.fa-utensils:before {
    content: "\f2e7";
    font-size: 45px;
    margin-right: 1em;
}

.partner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3em;
    height: 2em; 
}

.partner p{
    font-size: 38px;
}

.partner i{
    font-size: 38px;
    margin-right: 1em;
}

.contact{
    padding-left: 3em;
    height: 1em;
}

.contact p{
    font-size: 38px;
}

.contact a{
    text-decoration: none;
    color: white;
}