body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  padding-bottom: 1em;
}

.page_logo img {
  height: 138%;
  padding-left: 2em;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Shrikhand';
}

.search-container {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3em;
}

.search-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border: 1px solid transparent;
  background-color: #EFEFEF;
  border-top: 5px solid silver;
}

.search-btn-container i {
  padding-right: 10px;
}

.search-btn-container p {
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.booked {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booked h2 {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  height: 120px;
  width: 80%;
}

.booked p {
  font-size: 77px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.discover p {
  text-align: center;
  font-size: 53px;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.explorer p {
  font-size: 43px;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* <!--2eme section--!> */
.title-function h2 {
  padding-left: 1em;
  font-size: 60px;
  font-weight: bold;
  padding-top: 1em;
}

.function-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40em;
  padding-bottom: 15em;
}

.item-choice {
  height: 36em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 52px;
  padding: 0 10px 0 55px;
  border: 1px solid transparent;
  width: 80%;
  background-color: whitesmoke;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.function-container .item-choice {
  margin: 2em;
}

.choice {
  border: 1px solid;
  border-radius: 61px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356DC;
  color: white;
  height: 33%;
  margin-left: -82px;
  margin-right: 4em;
}

.choice p {
  font-size: 24px;
}

.function-container i {
  font-size: 3em;
  margin-right: 2em;
}

.function-container h3 {
  font-size: 37px;
  font-weight: bold;
}

.fa-store:before {
  content: "\f54e";
  color: #9356DC;
  font-size: 42px;
}

/* <!--3eme section--!> */
.restaurants-container {
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 6em;
}

.restaurants-container h2 {
  padding-left: 1em;
  font-size: 60px;
  padding-top: 1em;
}

.item-restaurants {
  border: 1px solid transparent;
  width: 90%;
  margin-left: 3em;
  border-radius: 62px;
  position: relative;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 711px;
  background-color: white;
  margin-bottom: 3em;
}

.picture-new-restaurant .img-1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}

.picture-new-restaurant .img-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 546px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}

.item-restaurants .img-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 546px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}

.item-restaurants .img-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 546px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}

.name-location-restaurant {
  height: 8em;
  position: relative;
  background-color: white;
}

.picture-new-restaurant p {
  border: 1px solid transparent;
  width: 20%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  position: absolute;
  top: 1em;
  right: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #5eba67;
}

.name-heart-icon-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-heart-icon-right h3 {
  margin-left: 1em;
  font-size: 40px;
  font-weight: bold;
  width: 50%;
}

.name-heart-icon-right i {
  width: 40%;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.name-heart-icon-right i:hover {
  text-decoration: none;
  cursor: progress;
}

.name-location-restaurant p {
  margin-left: 1em;
  font-size: 38px;
  width: 50%;
  position: absolute;
  top: 55px;
}

/* <!--Footer--> */
.bloc-information-ohmyfood {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 35em;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc-information-ohmyfood h2 {
  font-size: 4em;
  margin-left: 0.7em;
  font-family: 'Shrikhand';
}

.icon-left-propose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3em;
}

.icon-left-propose p {
  width: 100%;
  font-size: 38px;
}

.fa-utensils:before {
  content: "\f2e7";
  font-size: 45px;
  margin-right: 1em;
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3em;
  height: 2em;
}

.partner p {
  font-size: 38px;
}

.partner i {
  font-size: 38px;
  margin-right: 1em;
}

.contact {
  padding-left: 3em;
  height: 1em;
}

.contact p {
  font-size: 38px;
}
/*# sourceMappingURL=index.css.map */